.cover__link {
  text-decoration: none;
  background: url(../../../images/cover/cover__background.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__link::after {
  content: '';
  background: rgba(42, 44, 47, .3);
  height: 100%;
  width: 100%;
  position: absolute;
}

.cover__link:hover::after {
  background: rgba(42, 44, 47, .8);
  transition: .5s;
}

@media all and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media all and (min-width: 321px) and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
    background-size: contain;
  }
}
