@media all {
    .footer {    
        width: 100%;
        box-sizing: border-box;
    }
}

@media all and (min-width: 704px) {
    .footer {    
        display: flex;
        justify-content: space-between;
    }
}

@media all and (min-width: 1024px) {
    .footer {    
        padding: 0 48px 24px;
    }
}

@media all and (min-width: 704px) and (max-width: 1023px) {
    .footer {    
        padding: 0 24px 24px;
    }
}

@media all and (max-width: 703px) {
    .footer {    
        padding: 0 0 24px 16px;
    }
}
