@media all {
    .lead__caption {
        font-size: 10px;
        line-height: 1.4;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
}

@media all and (min-width: 1024px) {
    .lead__caption {
        margin: 8px 0 0;
    }
}

@media all and (min-width: 1024px) {
    .lead__caption {
        margin: 8px 0 0;
    }
}

@media all and (min-width: 321px) and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media all and (max-width: 320px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}
