@media all {
    .page {
        background-color: #2a2c2f;
        font-family: 'Inter', 'Arial', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
    }
}

@media all and (min-width: 1280px) {
    .page {
        max-width: 1280px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .page {
        min-width: 1024px;
        max-width: 1280px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .page {
        min-width: 768px;
        max-width: 1024px;
    }
}

@media all and (min-width: 425px) and (max-width: 767px) {
    .page {
        min-width: 425px;
        max-width: 768px;
    }
}

@media all and (max-width: 424px) {
    .page {
        max-width: 425px;
    }
}
