@media all {
    .photo-grid__item-2 {
        width: 100%;
    }
}

@media all and (min-width: 1280px) {
    .photo-grid__item-2 {
        background: url('../../../images/photo-grid/photo-grid__item-2-284.jpg');
        max-width: 284px;
        height: 213px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid__item-2 {
        background: url('../../../images/photo-grid/photo-grid__item-2-300.jpg');
        max-width: 300px;
        height: 225px;
    }
}

@media all and (min-width: 425px) and (max-width: 1023px) {
    .photo-grid__item-2 {
        background: url('../../../images/photo-grid/photo-grid__item-2-352.jpg');
        max-width: 352px;
        height: 264px;
    }
}

@media all and (max-width: 424px) {
    .photo-grid__item-2 {
        background: url('../../../images/photo-grid/photo-grid__item-2-288.jpg');
        max-width: 288px;
        height: 216px;
    }
}
