.place__paragraph {    
  color: #fff;
  margin: 0;
  line-height: 1.63;
}

@media all and (min-width: 1024px) {
  .place__paragraph {    
    font-size: 18px;
  }

  .place__paragraph:nth-of-type(1) {
    padding-bottom: 26px;
  }
}

@media all and (max-width: 1023px) {
  .place__paragraph {    
    font-size: 16px;
  }

  .place__paragraph:nth-of-type(1) {
    padding-bottom: 25px;
  }
}

@media all and (max-width: 599px) {
  .place__paragraph {
    padding-right: 16px;
    padding-left: 16px;
  }
}
