@media all {
    .lead__image {
        background-size: cover;
        width: 100%;
    }
}

@media all and (min-width: 1280px) {
    .lead__image {
        background: url('../../../images/lead/lead__image984.jpg') 50% 50% no-repeat;
        height: 615px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        background: url('../../../images/lead/lead__image928.jpg') 50% 50% no-repeat;
        height: 580px;
    }
}

@media all and (min-width: 321px) and (max-width: 1023px) {
    .lead__image {
        background: url('../../../images/lead/lead__image768.jpg') 50% 50% no-repeat;
        height: 480px;
    }
}

@media all and (max-width: 320px) {
    .lead__image {
        background: url('../../../images/lead/lead__image318.jpg') 50% 50% no-repeat;
        height: 200px;
    }
}
